@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins : "Poppins", sans-serif;    
    --main-color:#f54744;
    --text-color:#2f2f2f;
    --bg-color:#fff;
    --big-font:3.2rem;
    --h2-font:2rem;

}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: var(--poppins);
}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
section{
    padding: 50px 10%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff4f3;
    padding: 18px 10%;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover{
    background: var(--main-color);
    color: white;
    border-radius: 2rem;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;    ;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #fff4f3;
    gap: 1.5rem;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #fff4f3;
    gap: 1.5rem;
}

.home-img img{
    width: 90%;
}

.home-text h3{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    width: 180px;
    border-radius: 2rem;
    background: #feeceb;
}

.home-text h1{
    font-size: var(--big-font);
}

.home-text span{
    color: var(--main-color);

}

.home-text p{
    max-width: 80%;
    margin: 1rem 0 1.1rem;
}
.btn{
    background: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2rem;
    color: white;
}

.btn:hover{
    background: #fc5552;
}